# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/


*.manifest
*.spec

*.egg
*.whl

# VS Code
.vscode/

# PyCharm
.idea/

# Emacs
*~

# Vim
*.swp
*.swo

# MacOS
.DS_Store

*.log
*.sqlite3


.ipynb_checkpoints/

htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# =========================================
# Sphinx documentation
# =========================================

docs/_build/

# =========================================
# Miscellaneous
# =========================================

# Unit test / coverage reports
.coverage
*.cover
coverage.xml
nosetests.xml

# pytest
.cache/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# photos
*.jpg
*.JPG
*.jpeg
*.png
*.csv

